
.about {
  position: relative;
  z-index: -1;
  padding-top: 232px;
  margin-bottom: 16px;
}

.about__wrapper {
  width: 332px;
  min-height: 210px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.about__nastya-image {
  display: block;
  position: absolute;
  z-index: -10;
  width: 208px;
  height: 438px;
  bottom: 0;
  left: 89px;
}

.about__title {
  @include reset-list;
  font-size: 11px;
  line-height: 16px;
  padding-top: 13px;
  text-align: center;
  margin-bottom: 4px;
}

.about__subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.about__prize-title {
  @include reset-list;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #e1aa23;
}

.about__prize-image {
  display: block;
  margin: 0 auto;
  width: 251px;
  height: 76px;
}

.about__start-date {
  @include reset-list;
  position: relative;
  width: 97px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 2px;
    background-color: #2c3e50;
    left: -54px;
    top: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 2px;
    background-color: #2c3e50;
    left: 108px;
    top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 500px;
  }

  .about__nastya-image {
    display: block;
    width: 538px;
    height: 739px;
    left: 169px;
  }

  .about__wrapper {
    width: 702px;
    margin: 0 auto;
    padding-bottom: 13px;
  }

  .about__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .about__subtitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
  }

  .about__prize-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .about__prize-image {
    width: 595px;
    height: 178px;
    margin-top: -6px;
  }

  .about__start-date {
    width: 134px;
    font-size: 18px;

    &::before {
      width: 98px;
      left: -117px;
      top: 11px;
    }

    &::after {
      width: 98px;
      left: 153px;
      top: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 41px;
  }

  .about__nastya-image {
    top: -49px;
    left: 710px;
  }

  .about__wrapper {
    background: none;
    width: calc(602px + 34%);
    padding-right: 34%;
  }
}

@media (min-width: 1440px) {
  .about {
    padding-top: 41px;
  }

  .about__nastya-image {
    top: -49px;
    left: 764px;
  }
}
